#events {
	.section-header {
		margin-bottom: -1.6375rem;
	}

	.section-footer {
		z-index: 4;
		margin-top: -1vw;
	}
}

.section-list.section-list--events {
	flex-direction: row;
	justify-content: space-around;
	padding: $xsBreakMobile;
	position: relative;
	flex-direction: row;
	align-items: center;
	min-width: min-content;
	padding-left: 4vw;
	overflow: hidden;

	@include breakpoint(900px) {
		padding-left: 2vw;
		min-width: 0;
		justify-content: center;
		flex-wrap: wrap;
	}

	li {
		position: relative;
		margin-right: 5vw;
		transision: .5s all;

		// &:hover {
		//     transform: scale(1.1);
		// }

		@include breakpoint(900px) {
			margin-right: 3vw;

			// &:nth-child(n+6) {
			// 	display: none;
			// }
		}

		figure {
			@include smallContainer;
			background-size: auto 110%;
			background-position: top center;
			color: $white;
			text-shadow: 0 0 2px $darkBlue;
			text-transform: uppercase;
			font-weight: 800;
			margin-top: $mediumBreakMobile;
			@include bgImg('GraveDigger.jpg');			

			@media screen and (min-width: 1200px) {
				max-width: 250px;
			}
		}

		.small-gold-bar {
			z-index: 3;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-wrap: wrap;
			color: $grey;
			text-transform: capitalize;
			
			h2, date {
				width: 100%;
				height: 100%;
				background-color: $gold;
				padding: $smallBreakMobile;
			}

			date {
				@include fontSize(xs);
				padding-top: 0;
				padding-bottom: 2vw;
			}

			h2 {
				@include fontSize(sm);
			}
		}

		&:nth-child(odd) {
			.small-gold-bar {
				text-align: right;
				&:after {
					transform-origin: 0;
				}
			}
		}

		&:first-child {
			figure {
				@include bgImg('stadiumwithfalcon.jpg');
			}
		}

		&:nth-child(2) {
			figure {
				@include bgImg('KennyChesney.jpg');
			}
		}

		&:nth-child(3) {
			figure {
				@include bgImg('stadiumfront.jpg');
				background-position: 48vh 40vh;
			}
		}

		&:nth-child(5) {
			figure {
				@include bgImg('ed_sheeran.jpg');
				background-position: 48vh 40vh;
			}
		}

		&:nth-child(6) {
			figure {
				@include bgImg('taylor-swift.jpg');
				background-position: 48vh 40vh;
			}
		}

		&:nth-child(7) {
			figure {
				@include bgImg('sec.jpg');
			    background-position: 61vh 46vh;
			}
		}

		&:nth-child(8) {
			figure {
				@include bgImg('superbowl.jpg');
				background-position: 66vh 49vh;
			}
		}

		

		// &:nth-child(n+10) {
		// 	display: none;
		// }

	}
}


