#events {
	margin-bottom: 0;
	overflow: hidden;

	.scrollbox {
		margin: 0 - $smGap;
	}
}

.section-list.section-list--events {
	flex-direction: row;
	justify-content: space-around;
	position: relative;
	flex-direction: row;
	align-items: center;
	min-width: min-content;
	overflow: hidden;
	padding: $mdGap;
	padding-right: 500px;

	@include breakpoint(900px) {
		min-width: 0;
		justify-content: flex-start;
		flex-wrap: wrap;
		padding-right: $mdGap;
	}

	li {
		position: relative;
		margin-left: $lgGap;
		transition: .5s all;

		@include breakpoint(900px) {
			margin-bottom: $lgGap;
		}

		figure {
			@include smallContainer;
			background-size: auto 110%;
			background-position: top center;
			color: $white;
			text-shadow: 0 0 2px $darkBlue;
			text-transform: uppercase;
			font-weight: 800;
			// margin-top: $mdGap;
			@include bgImg('GraveDigger.jpg');			

			@media screen and (min-width: 1200px) {
				max-width: 250px;
			}
		}

		.small-gold-bar {
			z-index: 3;
			display: flex;
			justify-content: flex-end;
			align-items: flex-end;
			flex-wrap: wrap;
			color: $grey;
			text-transform: capitalize;
			
			h2, date {
				width: 100%;
				height: 100%;
				background-color: $gold;
				padding: $smGap;
			}

			date {
				@include fontSize(xs);
				padding-top: 0;
			}

			h2 {
				@include fontSize(sm);
				padding-bottom: $xsGap;
			}
		}

		&:nth-child(odd) {
			.small-gold-bar {
				text-align: right;
				&:after {
					transform-origin: 0;
				}
			}
		}

		&:first-child {
			figure {
				@include bgImg('stadiumwithfalcon.jpg');
			}
		}

		&:nth-child(2) {
			figure {
				@include bgImg('KennyChesney.jpg');
			}
		}

		&:nth-child(3) {
			figure {
				@include bgImg('stadiumfront.jpg', auto 85%, top left);
			}
		}

		&:nth-child(5) {
			figure {
				@include bgImg('ed_sheeran.jpg', auto 80%, 80% top);
			}
		}

		&:nth-child(6) {
			figure {
				@include bgImg('taylor-swift.jpg');
			}
		}

		&:nth-child(7) {
			figure {
				@include bgImg('sec.jpg', auto 90%, 48% -12%);
		
			}
		}

		&:nth-child(8) {
			figure {
				@include bgImg('superbowl.jpg');
			}
		}

	}
}

#events .events__cta {
	color: $grey;
	display: flex;
	justify-content: flex-end;
	width: 100%;
	z-index: 4;
	height: 5rem;
	@include fontSize(md);
	padding: $mdGap;
	margin-top: 0 - $lgGap;


	.cta--link {
		align-self: center;
		position: relative;
		padding: 0.7rem;
		// padding-bottom: 0.45rem;
		margin-top: -2rem;
		text-align: right;
		@include buttonRadius;
		background-color: $lightRed;
		@include buttonShadow;

		div {
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}

		&:before {
			@include goldBarShadow;
			content: '';
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			background-color: $gold;
			height: 100vw;
			width: 100vw;
			transform: rotate(75deg) translate(-14%, 30%);
			z-index: -1;
			border: $thinBorder $darkRed;
		}
	}

	
}


