

// Footer Styling

footer {
	z-index: 5;
	background: $darkBlue;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-transform: uppercase;
	color: $white;
	padding: 10% 5%;
	position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 0;
    right: 0;
    background: $darkBlue;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: -1;
    border-top: $thinBorder $darkRed;

    // @include goldBarShadow;
  }

  @media screen and (min-width: $sm-break) {
   padding: 5% 10%;
  }

	.footer__text {
		width: 100%;
		display: flex;
		flex-direction: column;
    justify-content: center;
		align-items: center;

		@media screen and (min-width: $sm-break) {
			flex-direction: row;
			align-items: flex-start;
			flex-wrap: flex-wrap;
		}

		& a {
			text-decoration: none;
			@include fontSize(xs)
			color: $white;
			padding-bottom: 2px;
			line-height: 25px;
			transition: .4s all;
			border-bottom: 2px solid transparent;

			&:hover {
				border-bottom: 2px solid $white;
			}
		}

		.mbs-logo__footer {
			background-image: url(../../assets/img/mbs-logo.svg);
			background-repeat: no-repeat;
			height: 4rem;
			width: 8rem;
			
			@include breakpoint($sm-break) {
				height: 6rem;
				width: 12rem;
			}
		}

		.sitemap,
		.atlanta-teams,
		.social-media {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin-bottom: 2rem;
			letter-spacing: 1px;
			line-height: 1.5;

		@media screen and (min-width: $sm-break) {
			width: 25%;
		}

			& li {
					width: 100%;
					text-align: center;
			}

			& h3 {
				z-index: 5;
				margin-bottom: 1.5rem;
				font-weight: bold;
			}

			& span {
				margin-right: 2%;
			}
		}
	}

	.copyright {
		font-size: .6rem;
	}
}