html {
	height: 100%;
	width: 100%;
	overflow: hidden;
}

body {
	background-color: $lightBlue;
	font-family: 'Korolev Light';
	overflow-y: scroll;
	overflow-x: hidden;
}

section {
	position: relative;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	margin-bottom: $largeBreakMobile;
	position: relative;

	.scrollbox {
		overflow-x: scroll;
		width: 100%;
	}

	@include breakpoint(600px) {
		margin-bottom: $xlGapVHTab;
	}
}

main {
	width: 100%;
	overflow-y: scroll;
	overflow-x: visible;
}

.section-header {
	@include sectionHeader;
}

.section-footer {
	@include sectionFooter;
}