header {
	width: 100%;
	position: fixed;
	z-index: 10;
	top: 0;
	display: flex;
	align-items: flex-start;
	flex-direction: row-reverse;
	padding: $mdGap;
	padding-bottom: $xsGap;

	justify-content: space-between;
	background-color: $darkBlue;
	
	.box-shadow {
		display: none;
	}

	&:after {
		background-color: $darkBlue;
		border-bottom: $thinBorder $darkRed;
		@include skew(-1.5deg);
		transform-origin: 100%;
		z-index: 9;
		box-shadow: 4px 1px 10px $darkBlue;

		@include breakpoint(725px) {
			box-shadow: none;
			bottom: -3px;
		}
	}

	@include breakpoint(725px) {
		flex-direction: row;
		padding: 0;
		align-items: stretch;

		&:before {
			background-color: $darkBlue;
			border-bottom: $thinBorder $darkRed;
			transform-origin: 0;
			position: absolute;
			content: '';
			transform: rotate(-13deg) translate(-50%);
			z-index: -1;
			height: 100%;
			width: 100%;
			top: 100%;
		}

		&:after {
			transform: none;
			z-index: -2;
			// border: none;
		}

		.box-shadow {
			display: flex;
			position: absolute;
			z-index: -3;
			height: 100%;
			width: 100%;
			box-shadow: 4px 1px 10px $darkBlue;
			transform: translate(0px, 3px);

			&:before {
				z-index: -4;
				transform-origin: 0;
				position: absolute;
				content: '';
				transform: rotate(-13deg) translate(-50%);
				height: 100%;
				width: 100%;
				top: 100%;
				box-shadow: 3px 1px 10px $darkBlue;
			}
		}
	}

	.header__logo {
		@include bgImg("mbs-logo.svg");
		background-repeat: no-repeat;
		background-size: 100%;
		width: 4rem;
		height: 2rem;
		z-index: 11;

		@include breakpoint(725px) {
			width: 5.5rem;
			height: 2.75rem;
			margin: $smGap $mdGap;
			margin-bottom: 0 - $smGap;
		}
	}

	.hamburger__button {
		display: flex;
		flex-direction: column;
		align-items: stretch;
		z-index: 11;
		width: 40px;

		@include breakpoint(500px) {
			width: 50px;
		}

		@include breakpoint(600px) {
			width: 60px;
		}

		@include breakpoint(725px) {
			display: none;
		}

		.hamburger-line {
			background: $lightRed;
			height: 5px;
			margin: 2px 0;

			&:first-child {
				margin-top: 0;
			}

			@include breakpoint(500px) {
				height: 6px;
				margin: 3px 0;
			}

			@include breakpoint(600px) {
				height: 7px;
				margin: 4px 0;
			}
		}

		p {
			color: $white;
			text-transform: uppercase;
			text-align: center;
			font-size: $xsGap;
			letter-spacing: 3px;
			margin-top: 5px;
			padding-left: 3px;
		}
	}

	.header__nav {
		padding-top: 5rem;
		position: absolute;
		border-bottom: 3px solid $darkRed;
		width: 100%;
		top: 0;
		left: 0;
		display: flex;
		flex-direction: column;
		z-index: 6;
		background-color: $darkBlue;
		color: $goldBright;


		@media screen and (min-width: 600px) {
			display: flex;
		}


		li {
			display: flex;
			justify-content: center;
			margin: 0 $smGap;
			@include fontSize(sm);
			text-transform: uppercase;
			height: 100%;
			min-height: 0;

			@include breakpoint(725px) {
				margin: 0;
				min-height: 0;
			}

			a {
				height: auto;
				width: auto;
				border-bottom: 2px solid rgba(0, 0, 0, 0);
				transition: .4s all;

				
			}

			&:first-child {
				margin-top: 25px;

				@include breakpoint(725px){
					margin-top: 0;
				}
			}
			
			&:hover {
				color: $goldGlow;

				a {
					border-bottom: 2px solid $lightRed;
				}
			}

		}
		
		&.hidden {
			transform: translateX(-100%);
			opacity: 0;
			visibility: hidden;

			@include breakpoint(725px){
				transform: none;
				opacity: 1;
				visibility: initial;
			}

			.header__nav_items {
				min-height: 0;
			}
		} 

		@include breakpoint(725px) {
			z-index: 12;
			width: 100%;
			position: relative;
			padding: 0;
			flex-direction: row;
			flex-wrap: nowrap;
			justify-content: stretch;
			align-items: stretch;
			border: none;

			li {
				margin: 0;
				margin-top: 0;
				padding: 0;
				flex-grow: 1;
				top: 0;
				border: none;
				display: flex;
				align-items: center;
				justify-content: center;

				a {
					padding: 0;
					margin: 0;
					display: flex;
					align-items: center;
					justify-content: center;
				}
			}
		}
	}
}