.teams {
	width: 100%;
	min-width: 320px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin-top: $xxlBreakMobile;
	position: relative;
	color: $darkBlue;

	@include breakpoint(550px) {
		flex-direction: row-reverse;
	}
	
	.teams-diamonds {
		display: none;

		@include breakpoint(550px) {
			z-index: 1;
			display: block;
			position: absolute;
			top: 0;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: $grey;
			width: 100%;
			overflow: hidden;

			&:before, &:after {
				height: 50vw;
				width: 50vw;
				background-color: $lightBlue;
				content: '';
				position: absolute;
				z-index: 2;
			}

			&:before {
				left: 0vw;
				transform: translate(-70%, -55%) rotate(-57.5deg) skew(-28deg);
				top: 50%;
			}

			&:after {
				right: 0vw;
				transform: translate(70%, 45%) rotate(57.5deg) skew(28deg);
				bottom: 50%;
			}
		

		}


		@include breakpoint(800px) {
			&:before {
				left: -2.5vw;
			}

			&:after {
				right: -2.5vw;
			}
		}

		@include breakpoint(1000px) {
			&:before {
				left: -5vw;
			}

			&:after {
				right: -5vw;
			}
		}

		@include breakpoint(1400px) {
			&:before {
				left: -7.5vw;
			}

			&:after {
				right: -7.5vw;
			}
		}
	}
	

	.teams-section {
		background-color: $grey;
		width: 100%;
		position: relative;
		justify-content: flex-start;
		padding: $mediumBreakMobile;
		margin-bottom: $xxlBreakMobile;
		padding-bottom: 0;
		display: flex;
		flex-direction: column;
		padding: 6vw 3vw;

		@include breakpoint(550px) {
			width: 50%;
			position: relative;
			justify-content: flex-start;
			margin-bottom: 0;
			background-size: auto 85%;
			background-color: transparent;
			z-index: 3;
		}

		&:before {
			background-color: $grey;
			display: none;
		}h2 {
			display: flex;
			text-transform: uppercase;
			color: $grey;
			width: 100%;
			margin-top: (0 - $xlBreakMobile);

			@include breakpoint(550px) {
				margin-top: -25%;
			}

			div {
				display: flex;
				flex-direction: column;
				justify-content: center;
				padding: 0.9rem 0.6rem 0.5rem 0.65rem;
				@include buttonShadow;
				color: $darkBlue;
				letter-spacing: 0.1rem;
				@include fontSize(sm);
				min-width: 36%;

				@include breakpoint(400px) {
					min-width: 32%;
				}

				.teams-header {
					@include fontSize(xxl);
					font-weight: 800;
					color: $grey;
					letter-spacing: 0.2rem;
					margin-top: $xsBreakMobile;
				}

				@include breakpoint(550px) {
					min-width: 56%;
				}

				@include breakpoint(900px) {
					min-width: 50%;
				}
			}
		}

		.teams-text {
			display: flex;
			flex-direction: column;
			// justify-content: flex-start;

			@include breakpoint(400px) {
				margin: 0 3vw;
			}

			@include breakpoint(550px) {
				margin: 0;
			}

			// @include breakpoint(550px) {
			// 	margin: 0;
			// }

			li {
				margin-bottom: $largeBreakMobile;
				display: flex;
				flex-direction: column;


				.main-copy {
					@include fontSize(sm);
					max-width: 150px;
					margin-top: 3vw;

					@include breakpoint(400px) {
						max-width: 200px;
					}

					@include breakpoint(550px) {
						min-height: 190px;
						max-width: 150px;
					}

					@include breakpoint(700px) {
						max-width: 210px;
						min-height: 170px;
					}

					@include breakpoint(800px) {
						max-width: 225px;
						min-height: 150px;
					}

					@include breakpoint(900px) {
						min-height: 180px;
					    min-height: 220px;
					}

					@include breakpoint(1000px) {
						min-height: 150px;
						max-width: 340px;
					}
				}

				.teams-cta {
					display: flex;
					flex-direction: column;
					margin-top: $xsBreakMobile * 2;

					.teams-slogan {
						@include fontSize(xl);
						font-style: italic;
						font-weight: 800;
						padding: 0 0.1rem;
					}
				}

				.next-game {
					display: flex;
					flex-direction: column;

					span, date {
						text-transform: uppercase;
					}

					span {	
						@include fontSize(sm);
						margin-bottom: $xsBreakMobile;

						&:first-child {
							display: flex;
							align-items: center;
							padding: 0.1rem;
							padding-top: 0.25rem;
							padding-bottom: 0;
							margin-bottom: $smallBreakMobile;
						}

						&:nth-child(2) {
							@include fontSize(xxxl);
							font-weight: 800;
							margin-bottom: 0;
						}
					}

					date {
						@include fontSize(xs)
					}
				}

				button {
					text-transform: uppercase;
					color: $grey;
					padding: 0.7rem;
					padding-top: 0.9rem;
					padding-bottom: 0.5rem;
					@include fontSize(sm);
					border-radius: 5px;
					@include buttonShadow;
				}

				&:last-child {
					margin-bottom: 0;

					button {
						background-color: $darkBlue;
						color: $grey;
						@include fontSize(sm);
						@include buttonShadow;
					}
				}
			}
		}

		&.teams-section__falcons {
			@include bgImg('hero_img_1.png', auto 95%, 95% center);

			@include breakpoint(400px) {
				padding-left: 5vw;
			}

			@include breakpoint(550px) {
				padding-left: 2.5vw;
				background-position: 150% center;
			}

			@include breakpoint(650px) {
				background-position: 130% center;
			}

			@include breakpoint(700px) {
				background-position: 115% center;
			}

			@include breakpoint(800px) {
				background-position: 95% center;
			}

			&:before {
				@include skew(-3deg);
				transform-origin: 0;

				// @include breakpoint(550px) {
				// 	transform: rotate(45deg) translate(-50%);
				// 	left: 100%;
				// 	right: initial;
				// }
			}

			h2 div, .teams-cta button {
				background-color: $lightRed;
			}

			.teams-text {
				align-items: flex-start;
			}
		}
		

		&.teams-section__united {
			@include bgImg('hero_img_2.png', auto 95%, 5% center);

			@include breakpoint(400px) {
				padding-right: 5vw;
			}

			@include breakpoint(550px) {
				padding-right: 2.5vw;
				background-position: -50% center;
			}

			@include breakpoint(650px) {
				background-position: -30% center;
			}

			@include breakpoint(700px) {
				background-position: -15% center;
			}

			@include breakpoint(800px) {
				background-position: 2.5% center;
			}

			&:before {
				@include skew(3deg);

				// @include breakpoint(550px) {
				// 	transform: rotate(45deg) translate(50%);
				// 	right: 100%;
				// 	left: initial;
				// }
			}

			.next-game {
				span {
					justfiy-content: flex-end;
				}
			}
		}


		

		&.teams-section__united {
			// @include bgImg('hero_img_2.png', auto 95%);
			// background-position: 5% center;
			// flex-direction: row-reverse;

			// @include breakpoint(550px) {
			// 	background-position: -20% center;
			// }

			h2 {
				flex-direction: row-reverse;

				div {
					background-color: $gold;
					align-items: flex-end;	
				}
			}

			.teams-text {

				li {
					align-items: flex-end;
					text-align: right;

					div {
						align-items: flex-end;

						button {
							background-color: $gold;
						}

					}

					h3 {
						span {
							&:first-child {
								border-right: $thinBorder $gold;
								padding-right: $mediumBreakMobile;
							}

							&:nth-child(2) {
								color: $gold;
							}
						}

						date {
							color: $gold;
						}
					}
				}
			}

		}
	}

	// @include breakpoint(550px) {
	// 	flex-direction: row-reverse;
	// 	// @include bgImg('hourglass.svg');
	// 	background-repeat: no-repeat;
	// 	background-size: cover;
	// 	// background-position: center;
	// 	min-height: min-content;

	// 	.teams-section {
	// 		width: 50%;
	// 		min-height: 100%;
	// 		position: relative;
	// 		// background-color: transparent;
	// 		// padding: 0 $mediumBreakMobile;
	// 		justify-content: flex-start;
	// 	}
	// }
}
