.teams {
	max-width: 100%;
	display: flex;
	flex-wrap: wrap;
	justify-content: stretch;
	align-items: stretch;
	margin-top: 4rem;
	margin-bottom: 0.5rem;

	@include breakpoint(1000px) {
		flex-direction: row-reverse;
	}

	.teams-section {
		position: relative;
		background-color: $grey;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: stretch;
		margin-bottom: $xlGap;

		@include breakpoint(1000px) {
			width: 50%;
		}

		&:before, &:after {
			height: 9rem;
			width: 9rem;
			content: '';
			position: absolute;
			display: none;
			z-index: 1;	

			@include breakpoint(1000px)	{
				height: 14rem;
				width: 14rem;
			}

			@include breakpoint(1200px) {
				height: 10rem;
				width: 10rem;
			}
		}

			&.teams-section__falcons {
				padding-left: $mdGap;

				@include breakpoint(1000px) {
					padding-left: 0;
					align-items: flex-start;
				}

				&:after {
					background-color: $darkRed;
					display: block;
					right: 0;
					transform: rotate(-55deg) skew(-20deg) translate(25%, 71%);
				}
			}

			&.teams-section__united {
				padding-right: $mdGap;

				@include breakpoint(1000px) {
					padding-right: 0;
					align-items: flex-end;
				}
				
				&:before {
					background-color: $gold;
					display: block;
					left: 0;
					transform: rotate(-55deg) skew(-20deg) rotateZ(90deg) translate(-25%, 71%);
					// top: 50%;
				}
			}

		.teams__figure {
			z-index: 4;
			height: 100%;
			width: 30%;
			margin-bottom: 0.5%;

			@include breakpoint(1000px) {
				width: 35%;
			}
		}

			&.teams-section__falcons {
				.teams__figure {
					align-self: flex-end;

					@include bgImg('hero_img_1.png', auto 95%, center);
					margin-left: -10%;

					@include breakpoint(1000px) {
						background-size: auto 85%;
					}

					@include breakpoint(1200px) {
						margin-right: -3%;
					}
				}
			}

			&.teams-section__united {
				.teams__figure {
					order: -1;
					align-self: flex-start;

					@include bgImg('hero_img_2.png', auto 95%, center);
					margin-right: -2.5%;

					@include breakpoint(1000px) {
						background-size: auto 85%;
					}

					@include breakpoint(1200px) {
						margin-right: -8%;
						margin-left: -4%;
					}
				}
			}

		.next-game {
			display: flex;
			flex-direction: column;
			text-transform: uppercase;
			border: $thickBorder transparent;
			padding: 1.5vw;
			padding-bottom: 0.5vw;
			margin-top: 0 - $mdGap;

			@include breakpoint(400px) {
				position: absolute;
				top: 4rem;
				margin-top: 0;
			}

			@include breakpoint(1000px) {
				position: static;
				margin-bottom: 0;
				top: initial;
			}

			@include breakpoint(1200px) {
				margin-top: 4rem;
			}

			.next-game__date {
				@include fontSize(xs);	
				padding: 1.5vw;
				padding-bottom: 0;
				color: $darkBlue;
			}

			.next-game__team {
				display: flex;
				flex-direction: column;
				line-height: 1.7rem;

				@include fontSize(xxxl);
				
				sup {
					@include fontSize(sm);
					padding-bottom: 0.3rem;
				}
			}
		}

		.next-game__purchase {
			width: 100%;
			background-color: $darkBlue;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			padding: $mdGap;
			border-bottom: $thinBorder $darkRed;
			font-weight: 100;

			button {
				@include buttonRadius;
				@include redBox;
				padding-top: 0.35rem;
			}

			font-weight: 200;
		}

			&.teams-section__falcons {

				.next-game {
					align-self: flex-end;
					text-align: right;
					border-right: $thickBorder $lightRed;
					right: 26%;

					@include breakpoint(1000px) {
						right: 0;
					}

						date {
							transform: translate(-25%);
						}
				}

				.next-game__team {
					color: $lightRed;
					
					sup {
						color: $darkBlue;
					}

					
				}

				.next-game__purchase {
					text-align: left;

					@include breakpoint(1000px) {
						padding-left: 4rem;
					}

					@include breakpoint(1200px) {
						text-align: right;
						padding-right: 30%;
						padding-left: 0;
					}
				}
			}

			&.teams-section__united {
				// text-align: right;
				
				.next-game {
					align-self: flex-start;
					text-align: left;
					color: $gold;
					border-left: $thickBorder $gold;
					left: 24%;

					@include breakpoint(1000px) {
						left: 0;
					}

					sup {
						color: $darkBlue;
					}

					date {
						transform: translate(25%);
					}
				}

				.next-game__purchase {
					text-align: right;

					@include breakpoint(1000px) {
						padding-right: 4rem;
					}

					@include breakpoint(1200px) {
						text-align: left;
						padding-left: 35%;
						padding-right: 0;
					}
				}
			}


		.teams__copy {
			position: relative;
			display: flex;
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: wrap;
			width: 70%;
			
			@include breakpoint(600px) {
				width: 50%;
			}

			@include breakpoint(1000px) {
				width: 65%;
			}

			// @include breakpoint(1200px) {
			// 	width: 45%;
			// }

			
			.copy__body {
				display: flex;
				flex-direction: column;
				margin-bottom: 4rem;

				@include breakpoint(1200px) {
					width: 65%;
				}

				h3 {
					@include fontSize(xl);
					font-style: italic;
				}

				.body--text {
					padding: $smGap;

					@include breakpoint(400px) {
						width: 55%;
					}

					@include breakpoint(600px) {
						width: initial;
						min-height: 8.5rem;
					}

					// @include breakpoint(1200px) {
					// 	min-height: 10rem;
					// }

					// @include breakpoint(1200px) {
					// 	min-height: 0;
					// }
				}

				.body--cta {
					margin: 2.5vw;
					margin-top: 0;
					color: $grey;
					width: 50%;
					padding: 0.5rem;
					font-weight: 100;
					text-transform: uppercase;
					align-self: center;
					background-color: $lightBlue;

					@include fontSize(sm);
					@include buttonShadow;
					@include buttonRadius;
				}
			}
		}

		.teams__title {
			display: flex;
			flex-direction: row-reverse;
			text-transform: uppercase;
			z-index: 4;
			min-width: min-content;
			justify-content: stretch;
			align-items: center;

			// @include breakpoint(400px) {
			// 	width: 100%;
			// }
			
			h2 {
				z-index: 2;
				display: flex;
				flex-direction: column;
				transform: translateY(-10%);
				padding: $smGap;
				width: 10rem;
				color: $grey;
				@include fontSize(xl);
				@include buttonShadow;
				position: absolute;

				top: 0 - $smGap;

				sup {
					@include fontSize(sm);
					color: $darkBlue;
				}

				@include breakpoint(400px) {
					position: relative;
					top: 0;
				}

				@include breakpoint(1000px) {
					width: 8rem;
				}

				@include breakpoint(1200px) {
					position: absolute;
				    height: 100%;
				    top: 0;
				    transform: translateY(-5%);
				}
			}	

			.copy__slogan {
				@include fontSize(lg);

				font-style: italic;
				text-transform: none;
				
				padding: $xsGap;
				z-index: 1;
				display: flex;
				

				margin-top: 3rem;
				
				@include breakpoint(400px) {
					align-self: center;
					color: $goldBright;
					position: absolute;
					width: 100%;
					margin-top: 0;

					&:before {
						position: absolute;
						top: 0;
						left: 0;
						right: 0;
						bottom: 0;
						content: '';
					}
				}
				

				@include breakpoint(1200px) {
					margin-top: $lgGap;
				}
			}
		}

			&.teams-section__united {
				.teams__title {

					h2 {
						text-align: right;
						background-color: $gold;

						@include breakpoint(1000px) {
							margin-right: 0.5rem;
						}
					}
				}
				
				.teams__copy {
					align-self: flex-end;

					@include breakpoint(1000px) {
						align-self: flex-start;
					}
				}

				.copy__slogan {
					
					@include breakpoint(400px) {
						right: $mdGap;
						padding-right: 12rem;
						justify-content: flex-end;
					}

					@include breakpoint(1000px) {
						padding-right: 9rem;
					}

					&:before {
						border-bottom: $thinBorder $gold;
						background-color: $lightBlue;
						z-index: -1;
					}
				}
			}

			&.teams-section__falcons {
				.teams__title {
					flex-direction: row;
					margin-top: 0;

					h2 {
						background-color: $lightRed;

						@include breakpoint(1000px) {
							margin-left: 0.5rem;
						}
					}
				}

				.copy__slogan {
					
					
					@include breakpoint(400px) {

						right: 0;
						justify-content: flex-start;
						left: $mdGap;
						padding-left: 12rem;

					}

					@include breakpoint(1000px) {
						padding-left: 9rem;
					}

					&:before {
						border-bottom: $thinBorder $gold;
						background-color: $darkRed;
						z-index: -1;

						@include breakpoint(1000px) {
							transform: none;
						}
					}
				}
				
			}
			
			&.teams-section__falcons {
				.teams__copy {

					@include breakpoint(1200px) {
						justify-content: flex-end;
						align-self: flex-end;
					}

					.copy__body  {

						@include breakpoint(1000px) {
							align-self: flex-end;
						}

						// @include breakpoint(1200px) {
						// 	width: 65%;
						// }

						.body--text {
							@include breakpoint(400px) {
								align-self: flex-start;
							}

							@include breakpoint(1000px) {
								text-align: right;
							}
						}

						.body--cta{
							background-color: $darkRed;
						}
					}
					
				}

				
			}

			&.teams-section__united {
				.teams__copy {
					.copy__body {

						.body--text {
							@include breakpoint(400px) {
								align-self: flex-end;
							}
						}

						@include breakpoint(1200px) {
							align-self: flex-start;
							padding-left: 0;
						}

						.body--cta {
							background-color: $goldBrown;
						}
					} 
				}

				
			}
			
	}
}