$white: #FEFEFE;
$gold: #817246;
$goldBrown: #584401;
$goldBright: #bfab6c;
$goldGlow: #e8ce7b;
$gray: #D5D5D5;
$grey: #D5D5D5;

$darkBlue: #001622;
$lightBlue: #003950;

$darkRed: #580614;
$lightRed: #A61931;

$sm-break: 630px;
$med-break: 900px;
$lg-break: 1000px;

$xsGap: 0.5rem;
$smGap: 0.75rem;
$mdGap: 1rem;
$lgGap: 2rem;
$xlGap: 2.5rem;
$xxlGap: 3rem;
$xxxlGap: 3.5rem;

$smallSkew: 2.3deg;
$mediumSkew: 4deg;

$thinBorder: 3px solid;
$thickBorder: 4px solid;


@font-face {
	font-family: 'Korolev Light';
	font-style: normal;
	font-weight: normal;
	src: local('Korolev Light'), url('../../assets/font/KorolevLight.woff') format('woff');
}