/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  box-sizing: border-box; }

@media screen and (min-width: 300px) {
  html {
    font-size: 14; } }

@media screen and (min-width: 400px) {
  html {
    font-size: 15; } }

@media screen and (min-width: 500px) {
  html {
    font-size: 16; } }

@media screen and (min-width: 600px) {
  html {
    font-size: 17px; } }

@media screen and (min-width: 900px) {
  html {
    font-size: 18px; } }

@media screen and (min-width: 1100px) {
  html {
    font-size: 19px; } }

@media screen and (min-width: 1300px) {
  html {
    font-size: 20px; } }

html, body {
  height: 100%;
  width: 100%; }

body {
  position: relative; }

button {
  appearance: none;
  border: none;
  background: none; }

a {
  color: inherit;
  text-decoration: none; }
  a:hover {
    color: inherit;
    text-decoration: none; }

@font-face {
  font-family: 'Korolev Light';
  font-style: normal;
  font-weight: normal;
  src: local("Korolev Light"), url("../../assets/font/KorolevLight.woff") format("woff"); }

html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  background-color: #003950;
  font-family: 'Korolev Light';
  overflow-y: scroll;
  overflow-x: hidden; }

section {
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  position: relative; }
  section .scrollbox {
    overflow-x: scroll;
    width: 100%; }
  @media screen and (min-width: 600px) {
    section {
      margin-bottom: 2.5rem; } }

main {
  width: 100%;
  overflow-x: visible; }

.section-header {
  transform: rotate(-2deg);
  font-size: 1.3rem;
  margin-left: 1rem;
  margin-bottom: -1rem;
  z-index: 4;
  color: #D5D5D5;
  text-transform: uppercase;
  letter-spacing: 0.07rem;
  background: #A61931;
  padding: 0.65rem 0.55rem 0.5rem 0.55rem;
  box-shadow: 1px 1px 3px #001622;
  padding-bottom: 0.35rem;
  text-shadow: 1.2px 1.5px 0 #001622; }
  @media screen and (min-width: 900px) {
    .section-header {
      margin-left: 4vw; } }
  @media screen and (min-width: 1300px) {
    .section-header {
      margin-left: 6vw; } }

.section-footer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-top: -1rem;
  font-size: 1rem;
  text-shadow: 1.2px 1.5px 0 #001622; }
  .section-footer span {
    z-index: 4;
    color: #D5D5D5;
    text-transform: uppercase;
    letter-spacing: 0.07rem;
    background: #A61931;
    padding: 0.65rem 0.55rem 0.5rem 0.55rem;
    box-shadow: 1px 1px 3px #001622;
    margin-right: 1rem;
    border-radius: 0.2rem; }
    @media screen and (min-width: 900px) {
      .section-footer span {
        margin-right: 4vw; } }
    @media screen and (min-width: 1300px) {
      .section-footer span {
        margin-right: 6vw; } }

header {
  width: 100%;
  position: fixed;
  z-index: 10;
  top: 0;
  display: flex;
  align-items: flex-start;
  flex-direction: row-reverse;
  padding: 1rem;
  padding-bottom: 0.5rem;
  justify-content: space-between;
  background-color: #001622; }
  header .box-shadow {
    display: none; }
  header:after {
    background-color: #001622;
    border-bottom: 3px solid #580614;
    transform: skewY(-1.5deg);
    transform-origin: 100%;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
    transform-origin: 100%;
    z-index: 9;
    box-shadow: 4px 1px 10px #001622; }
    @media screen and (min-width: 725px) {
      header:after {
        box-shadow: none;
        bottom: -3px; } }
  @media screen and (min-width: 725px) {
    header {
      flex-direction: row;
      padding: 0;
      align-items: stretch; }
      header:before {
        background-color: #001622;
        border-bottom: 3px solid #580614;
        transform-origin: 0;
        position: absolute;
        content: '';
        transform: rotate(-13deg) translate(-50%);
        z-index: -1;
        height: 100%;
        width: 100%;
        top: 100%; }
      header:after {
        transform: none;
        z-index: -2; }
      header .box-shadow {
        display: flex;
        position: absolute;
        z-index: -3;
        height: 100%;
        width: 100%;
        box-shadow: 4px 1px 10px #001622;
        transform: translate(0px, 3px); }
        header .box-shadow:before {
          z-index: -4;
          transform-origin: 0;
          position: absolute;
          content: '';
          transform: rotate(-13deg) translate(-50%);
          height: 100%;
          width: 100%;
          top: 100%;
          box-shadow: 3px 1px 10px #001622; } }
  header .header__logo {
    background-image: url("../img/mbs-logo.svg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-repeat: no-repeat;
    background-size: 100%;
    width: 4rem;
    height: 2rem;
    z-index: 11; }
    @media screen and (min-width: 725px) {
      header .header__logo {
        width: 5.5rem;
        height: 2.75rem;
        margin: 0.75rem 1rem;
        margin-bottom: -0.75rem; } }
  header .hamburger__button {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    z-index: 11;
    width: 40px; }
    @media screen and (min-width: 500px) {
      header .hamburger__button {
        width: 50px; } }
    @media screen and (min-width: 600px) {
      header .hamburger__button {
        width: 60px; } }
    @media screen and (min-width: 725px) {
      header .hamburger__button {
        display: none; } }
    header .hamburger__button .hamburger-line {
      background: #A61931;
      height: 5px;
      margin: 2px 0; }
      header .hamburger__button .hamburger-line:first-child {
        margin-top: 0; }
      @media screen and (min-width: 500px) {
        header .hamburger__button .hamburger-line {
          height: 6px;
          margin: 3px 0; } }
      @media screen and (min-width: 600px) {
        header .hamburger__button .hamburger-line {
          height: 7px;
          margin: 4px 0; } }
    header .hamburger__button p {
      color: #FEFEFE;
      text-transform: uppercase;
      text-align: center;
      font-size: 0.5rem;
      letter-spacing: 3px;
      margin-top: 5px;
      padding-left: 3px; }
  header .header__nav {
    padding-top: 5rem;
    position: absolute;
    border-bottom: 3px solid #580614;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 6;
    background-color: #001622;
    color: #bfab6c; }
    @media screen and (min-width: 600px) {
      header .header__nav {
        display: flex; } }
    header .header__nav li {
      display: flex;
      justify-content: center;
      margin: 0 0.75rem;
      font-size: 0.75rem;
      text-transform: uppercase;
      height: 100%;
      min-height: 0; }
      @media screen and (min-width: 725px) {
        header .header__nav li {
          margin: 0;
          min-height: 0; } }
      header .header__nav li a {
        height: auto;
        width: auto;
        border-bottom: 2px solid transparent;
        transition: .4s all; }
      header .header__nav li:first-child {
        margin-top: 25px; }
        @media screen and (min-width: 725px) {
          header .header__nav li:first-child {
            margin-top: 0; } }
      header .header__nav li:hover {
        color: #e8ce7b; }
        header .header__nav li:hover a {
          border-bottom: 2px solid #A61931; }
    header .header__nav.hidden {
      transform: translateX(-100%);
      opacity: 0;
      visibility: hidden; }
      @media screen and (min-width: 725px) {
        header .header__nav.hidden {
          transform: none;
          opacity: 1;
          visibility: initial; } }
      header .header__nav.hidden .header__nav_items {
        min-height: 0; }
    @media screen and (min-width: 725px) {
      header .header__nav {
        z-index: 12;
        width: 100%;
        position: relative;
        padding: 0;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: stretch;
        align-items: stretch;
        border: none; }
        header .header__nav li {
          margin: 0;
          margin-top: 0;
          padding: 0;
          flex-grow: 1;
          top: 0;
          border: none;
          display: flex;
          align-items: center;
          justify-content: center; }
          header .header__nav li a {
            padding: 0;
            margin: 0;
            display: flex;
            align-items: center;
            justify-content: center; } }

.section-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  overflow-x: hidden; }
  .section-list .section-list__page {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-bottom: 0;
    position: relative; }
    .section-list .section-list__page .small-gold-bar {
      background-color: #817246;
      width: 102%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: 3;
      min-height: min-content; }
      .section-list .section-list__page .small-gold-bar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 100%;
        background-color: #817246;
        content: '';
        transform: skewY(-3deg);
        z-index: -1; }
      .section-list .section-list__page .small-gold-bar:before {
        transform-origin: 0%;
        box-shadow: 0px -3px 5px 0px rgba(0, 22, 34, 0.2); }
    .section-list .section-list__page .medium-gold-bar {
      background-color: #817246;
      width: 102%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: 3;
      height: 8%; }
      .section-list .section-list__page .medium-gold-bar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 100%;
        background-color: #817246;
        content: '';
        transform: skewY(-3deg);
        z-index: -1; }
      .section-list .section-list__page .medium-gold-bar:before {
        box-shadow: 0px -3px 2px -1px rgba(0, 22, 34, 0.4);
        transform-origin: 0%; }
    .section-list .section-list__page .large-gold-bar {
      background-color: #817246;
      width: 102%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: 3; }
      .section-list .section-list__page .large-gold-bar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 100%;
        background-color: #817246;
        content: '';
        transform: skewY(-3deg);
        z-index: -1; }
      .section-list .section-list__page .large-gold-bar:before {
        box-shadow: 0px -3px 5px 0px #001622;
        transform-origin: 0%; }
    .section-list .section-list__page:nth-child(even) .small-gold-bar {
      background-color: #817246;
      width: 102%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: 3; }
      .section-list .section-list__page:nth-child(even) .small-gold-bar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 100%;
        background-color: #817246;
        content: '';
        transform: skewY(3deg);
        z-index: -1; }
    .section-list .section-list__page:nth-child(even) .medium-gold-bar {
      background-color: #817246;
      width: 102%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: 3; }
      .section-list .section-list__page:nth-child(even) .medium-gold-bar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 100%;
        background-color: #817246;
        content: '';
        transform: skewY(3deg);
        z-index: -1; }
    .section-list .section-list__page:nth-child(even) .large-gold-bar {
      background-color: #817246;
      width: 102%;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      z-index: 3; }
      .section-list .section-list__page:nth-child(even) .large-gold-bar:before {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        transform-origin: 100%;
        background-color: #817246;
        content: '';
        transform: skewY(3deg);
        z-index: -1; }

.hero {
  margin-top: 4rem; }
  @media screen and (min-width: 600px) {
    .hero {
      margin-top: 1.5rem; } }
  @media screen and (min-width: 725px) {
    .hero {
      margin-top: 0; } }

.section-list--hero {
  display: flex;
  justify-content: flex-end;
  overflow-y: hidden; }
  .section-list--hero .section-list__img {
    height: 100vw;
    width: 100%;
    max-height: 700px;
    background-image: url("../img/slideshow/falcons.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center; }
    @media screen and (min-width: 600px) {
      .section-list--hero .section-list__img {
        background-position: 50% 20%; } }
  .section-list--hero .section-list__page {
    position: relative;
    justify-content: stretch;
    align-items: stretch; }
    .section-list--hero .section-list__page .hero__text {
      display: flex;
      align-items: stretch;
      justify-content: stretch;
      z-index: 1;
      position: relative; }
      @media screen and (min-width: 600px) {
        .section-list--hero .section-list__page .hero__text {
          margin-top: -1rem; } }
      @media screen and (min-width: 900px) {
        .section-list--hero .section-list__page .hero__text {
          margin: 0; } }
      .section-list--hero .section-list__page .hero__text .hero__text--text {
        display: flex;
        margin-top: 0;
        flex-direction: column;
        padding: 1rem;
        padding-top: 0.75rem;
        justify-content: center;
        align-items: stretch;
        width: 100%;
        background-color: #001622;
        color: #D5D5D5;
        border-bottom: 3px solid #580614;
        font-weight: 100; }
        @media screen and (min-width: 600px) {
          .section-list--hero .section-list__page .hero__text .hero__text--text {
            flex-direction: row;
            justify-content: space-between;
            align-items: center; } }
        @media screen and (min-width: 725px) {
          .section-list--hero .section-list__page .hero__text .hero__text--text {
            justify-content: space-around;
            padding-top: 0; } }
        @media screen and (min-width: 900px) {
          .section-list--hero .section-list__page .hero__text .hero__text--text {
            flex-direction: column;
            align-items: flex-end;
            justify-content: stretch;
            text-align: right; } }
        .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header {
          display: flex;
          flex-direction: column;
          margin-bottom: 1rem; }
          @media screen and (min-width: 600px) {
            .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header {
              margin-bottom: 0; } }
          @media screen and (min-width: 900px) {
            .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header {
              margin: 0;
              align-items: flex-end; } }
          .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header h1 {
            margin-bottom: 0.5rem;
            margin-top: -0.25rem;
            font-size: 1.6rem; }
            @media screen and (min-width: 725px) {
              .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header h1 {
                margin-top: 0; } }
            @media screen and (min-width: 900px) {
              .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header h1 {
                margin-bottom: 0.25vw;
                position: absolute;
                margin-bottom: 0.5rem;
                bottom: 100%;
                width: 100%; } }
          .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header p {
            font-size: 1rem; }
            @media screen and (min-width: 900px) {
              .section-list--hero .section-list__page .hero__text .hero__text--text .hero__header p {
                margin-right: 0.5vw; } }
        .section-list--hero .section-list__page .hero__text .hero__text--text .hero__links {
          display: flex;
          flex-wrap: nowrap;
          justify-content: stretch;
          align-items: center;
          text-transform: uppercase; }
          @media screen and (min-width: 900px) {
            .section-list--hero .section-list__page .hero__text .hero__text--text .hero__links {
              margin-top: 0.75rem;
              margin-left: 0.75rem; } }
          .section-list--hero .section-list__page .hero__text .hero__text--text .hero__links li {
            margin-right: 5vw;
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            text-align: center;
            align-items: center;
            text-transform: uppercase; }
            @media screen and (min-width: 900px) {
              .section-list--hero .section-list__page .hero__text .hero__text--text .hero__links li {
                margin-right: 0;
                margin-left: 5vw; } }
            .section-list--hero .section-list__page .hero__text .hero__text--text .hero__links li a {
              font-size: 1.3rem;
              color: #bfab6c;
              border-bottom: 4px solid #A61931;
              transition: .4s all; }
              .section-list--hero .section-list__page .hero__text .hero__text--text .hero__links li a:hover {
                border-bottom: 4px solid #FEFEFE; }
      .section-list--hero .section-list__page .hero__text .hero__angles {
        z-index: -1;
        width: 100%;
        height: 100%;
        position: absolute; }
        .section-list--hero .section-list__page .hero__text .hero__angles:before {
          content: '';
          background-color: #001622;
          width: 100%;
          transform: skewY(3deg);
          transform-origin: 100%;
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          bottom: 0;
          right: 0;
          z-index: -1;
          border-top: 3px solid #580614;
          border-bottom: 3px solid #580614;
          top: -3px;
          z-index: -2; }
          @media screen and (min-width: 900px) {
            .section-list--hero .section-list__page .hero__text .hero__angles:before {
              transform: none; } }
        .section-list--hero .section-list__page .hero__text .hero__angles:after {
          display: none; }
          @media screen and (min-width: 900px) {
            .section-list--hero .section-list__page .hero__text .hero__angles:after {
              display: block;
              top: -5px;
              left: 0;
              right: 0;
              bottom: 0;
              content: '';
              position: absolute;
              background-color: #001622;
              border-top: 3px solid #580614;
              z-index: -1;
              transform: translateX(45%) rotate(-12deg);
              transform-origin: 0%;
              height: 200%; } }
          @media screen and (min-width: 1400px) {
            .section-list--hero .section-list__page .hero__text .hero__angles:after {
              transform: translateX(60%) rotate(-12deg);
              height: 1000%; } }

@media screen and (min-width: 900px) {
  .news .scrollbox {
    margin: -0.75rem 0; } }

.section-list.section-list--news {
  position: relative;
  flex-direction: row;
  align-items: center;
  min-width: min-content;
  padding-left: 2rem; }
  @media screen and (min-width: 900px) {
    .section-list.section-list--news {
      min-width: 0;
      flex-wrap: wrap;
      justify-content: center; } }
  .section-list.section-list--news li {
    margin-right: 2rem; }
    .section-list.section-list--news li:nth-child(n+10) {
      display: none; }
    @media screen and (min-width: 900px) {
      .section-list.section-list--news li {
        margin: 0.75rem;
        margin-bottom: 0.5rem; }
        .section-list.section-list--news li:last-child {
          align-self: flex-start; }
        .section-list.section-list--news li:nth-child(n+7) {
          display: none; } }
    .section-list.section-list--news li figure {
      height: 70vw;
      width: 77vw;
      background-image: url("../img/taylor-swift.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      background-size: cover; }
      .section-list.section-list--news li figure .hover-effect {
        width: 100%;
        height: 100%;
        background: transparent;
        transistion: .4s all; }
        .section-list.section-list--news li figure .hover-effect:hover {
          background: #A61931;
          opacity: .7; }
      .section-list.section-list--news li figure h2 {
        font-size: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1rem;
        text-align: center;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.1);
        color: #D5D5D5;
        text-transform: capitalize;
        text-shadow: 0 0 5px black;
        line-height: 2rem;
        font-weight: 500; }
      @media screen and (min-width: 600px) {
        .section-list.section-list--news li figure {
          max-height: 25rem;
          max-width: 30rem; } }
      @media screen and (min-width: 900px) {
        .section-list.section-list--news li figure {
          max-height: 20rem;
          max-width: 24rem; } }
    .section-list.section-list--news li:nth-child(2) figure {
      background-image: url("../img/arthur-blank.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--news li:nth-child(3) figure {
      background-image: url("../img/food.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--news li:nth-child(4) figure {
      background-image: url("../img/matt-ryan.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--news li:nth-child(5) figure {
      background-image: url("../img/stadium-sunset.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--news li:nth-child(6) figure {
      background-image: url("../img/inside-stadium.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

.explore {
  display: flex;
  position: relative; }
  .explore video {
    width: 100%;
    height: 56.5%;
    position: relative;
    max-height: 800px;
    background-color: #001622; }
    @media screen and (min-width: 800px) {
      .explore video {
        padding: 2rem;
        border: 3px solid #580614;
        border-right: 0;
        border-left: 0; } }
  .explore .large-gold-bar {
    position: relative;
    z-index: 2; }

.teams {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  align-items: stretch;
  margin-top: 4rem;
  margin-bottom: 0.5rem; }
  @media screen and (min-width: 1000px) {
    .teams {
      flex-direction: row-reverse; } }
  .teams .teams-section {
    position: relative;
    background-color: #D5D5D5;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: stretch;
    margin-bottom: 2.5rem; }
    @media screen and (min-width: 1000px) {
      .teams .teams-section {
        width: 50%; } }
    .teams .teams-section:before, .teams .teams-section:after {
      height: 9rem;
      width: 9rem;
      content: '';
      position: absolute;
      display: none;
      z-index: 1; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section:before, .teams .teams-section:after {
          height: 14rem;
          width: 14rem; } }
      @media screen and (min-width: 1200px) {
        .teams .teams-section:before, .teams .teams-section:after {
          height: 10rem;
          width: 10rem; } }
    .teams .teams-section.teams-section__falcons {
      padding-left: 1rem; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__falcons {
          padding-left: 0;
          align-items: flex-start; } }
      .teams .teams-section.teams-section__falcons:after {
        background-color: #580614;
        display: block;
        right: 0;
        transform: rotate(-55deg) skew(-20deg) translate(25%, 71%); }
    .teams .teams-section.teams-section__united {
      padding-right: 1rem; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__united {
          padding-right: 0;
          align-items: flex-end; } }
      .teams .teams-section.teams-section__united:before {
        background-color: #817246;
        display: block;
        left: 0;
        transform: rotate(-55deg) skew(-20deg) rotateZ(90deg) translate(-25%, 71%); }
    .teams .teams-section .teams__figure {
      z-index: 4;
      height: 100%;
      width: 30%;
      margin-bottom: 0.5%; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section .teams__figure {
          width: 35%; } }
    .teams .teams-section.teams-section__falcons .teams__figure {
      align-self: flex-end;
      background-image: url("../img/hero_img_1.png");
      background-position: center;
      background-size: auto 95%;
      background-repeat: no-repeat;
      margin-left: -10%; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__falcons .teams__figure {
          background-size: auto 85%; } }
      @media screen and (min-width: 1200px) {
        .teams .teams-section.teams-section__falcons .teams__figure {
          margin-right: -3%; } }
    .teams .teams-section.teams-section__united .teams__figure {
      order: -1;
      align-self: flex-start;
      background-image: url("../img/hero_img_2.png");
      background-position: center;
      background-size: auto 95%;
      background-repeat: no-repeat;
      margin-right: -2.5%; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__united .teams__figure {
          background-size: auto 85%; } }
      @media screen and (min-width: 1200px) {
        .teams .teams-section.teams-section__united .teams__figure {
          margin-right: -8%;
          margin-left: -4%; } }
    .teams .teams-section .next-game {
      display: flex;
      flex-direction: column;
      text-transform: uppercase;
      border: 4px solid transparent;
      padding: 1.5vw;
      padding-bottom: 0.5vw;
      margin-top: -1rem; }
      @media screen and (min-width: 400px) {
        .teams .teams-section .next-game {
          position: absolute;
          top: 4rem;
          margin-top: 0; } }
      @media screen and (min-width: 1000px) {
        .teams .teams-section .next-game {
          position: static;
          margin-bottom: 0;
          top: initial; } }
      @media screen and (min-width: 1200px) {
        .teams .teams-section .next-game {
          margin-top: 4rem; } }
      .teams .teams-section .next-game .next-game__date {
        font-size: 0.5rem;
        padding: 1.5vw;
        padding-bottom: 0;
        color: #001622; }
      .teams .teams-section .next-game .next-game__team {
        display: flex;
        flex-direction: column;
        line-height: 1.7rem;
        font-size: 2.2rem; }
        .teams .teams-section .next-game .next-game__team sup {
          font-size: 0.75rem;
          padding-bottom: 0.3rem; }
    .teams .teams-section .next-game__purchase {
      width: 100%;
      background-color: #001622;
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      padding: 1rem;
      border-bottom: 3px solid #580614;
      font-weight: 100;
      font-weight: 200; }
      .teams .teams-section .next-game__purchase button {
        border-radius: 0.2rem;
        z-index: 4;
        color: #D5D5D5;
        text-transform: uppercase;
        letter-spacing: 0.07rem;
        background: #A61931;
        padding: 0.65rem 0.55rem 0.5rem 0.55rem;
        box-shadow: 1px 1px 3px #001622;
        padding-top: 0.35rem; }
    .teams .teams-section.teams-section__falcons .next-game {
      align-self: flex-end;
      text-align: right;
      border-right: 4px solid #A61931;
      right: 26%; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__falcons .next-game {
          right: 0; } }
      .teams .teams-section.teams-section__falcons .next-game date {
        transform: translate(-25%); }
    .teams .teams-section.teams-section__falcons .next-game__team {
      color: #A61931; }
      .teams .teams-section.teams-section__falcons .next-game__team sup {
        color: #001622; }
    .teams .teams-section.teams-section__falcons .next-game__purchase {
      text-align: left; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__falcons .next-game__purchase {
          padding-left: 4rem; } }
      @media screen and (min-width: 1200px) {
        .teams .teams-section.teams-section__falcons .next-game__purchase {
          text-align: right;
          padding-right: 30%;
          padding-left: 0; } }
    .teams .teams-section.teams-section__united .next-game {
      align-self: flex-start;
      text-align: left;
      color: #817246;
      border-left: 4px solid #817246;
      left: 24%; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__united .next-game {
          left: 0; } }
      .teams .teams-section.teams-section__united .next-game sup {
        color: #001622; }
      .teams .teams-section.teams-section__united .next-game date {
        transform: translate(25%); }
    .teams .teams-section.teams-section__united .next-game__purchase {
      text-align: right; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__united .next-game__purchase {
          padding-right: 4rem; } }
      @media screen and (min-width: 1200px) {
        .teams .teams-section.teams-section__united .next-game__purchase {
          text-align: left;
          padding-left: 35%;
          padding-right: 0; } }
    .teams .teams-section .teams__copy {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      flex-wrap: wrap;
      width: 70%; }
      @media screen and (min-width: 600px) {
        .teams .teams-section .teams__copy {
          width: 50%; } }
      @media screen and (min-width: 1000px) {
        .teams .teams-section .teams__copy {
          width: 65%; } }
      .teams .teams-section .teams__copy .copy__body {
        display: flex;
        flex-direction: column;
        margin-bottom: 4rem; }
        @media screen and (min-width: 1200px) {
          .teams .teams-section .teams__copy .copy__body {
            width: 65%; } }
        .teams .teams-section .teams__copy .copy__body h3 {
          font-size: 1.6rem;
          font-style: italic; }
        .teams .teams-section .teams__copy .copy__body .body--text {
          padding: 0.75rem; }
          @media screen and (min-width: 400px) {
            .teams .teams-section .teams__copy .copy__body .body--text {
              width: 55%; } }
          @media screen and (min-width: 600px) {
            .teams .teams-section .teams__copy .copy__body .body--text {
              width: initial;
              min-height: 8.5rem; } }
        .teams .teams-section .teams__copy .copy__body .body--cta {
          margin: 2.5vw;
          margin-top: 0;
          color: #D5D5D5;
          width: 50%;
          padding: 0.5rem;
          font-weight: 100;
          text-transform: uppercase;
          align-self: center;
          background-color: #003950;
          font-size: 0.75rem;
          box-shadow: 1px 1px 3px #001622;
          border-radius: 0.2rem; }
    .teams .teams-section .teams__title {
      display: flex;
      flex-direction: row-reverse;
      text-transform: uppercase;
      z-index: 4;
      min-width: min-content;
      justify-content: stretch;
      align-items: center; }
      .teams .teams-section .teams__title h2 {
        z-index: 2;
        display: flex;
        flex-direction: column;
        transform: translateY(-10%);
        padding: 0.75rem;
        width: 10rem;
        color: #D5D5D5;
        font-size: 1.6rem;
        box-shadow: 1px 1px 3px #001622;
        position: absolute;
        top: -0.75rem; }
        .teams .teams-section .teams__title h2 sup {
          font-size: 0.75rem;
          color: #001622; }
        @media screen and (min-width: 400px) {
          .teams .teams-section .teams__title h2 {
            position: relative;
            top: 0; } }
        @media screen and (min-width: 1000px) {
          .teams .teams-section .teams__title h2 {
            width: 8rem; } }
        @media screen and (min-width: 1200px) {
          .teams .teams-section .teams__title h2 {
            position: absolute;
            height: 100%;
            top: 0;
            transform: translateY(-5%); } }
      .teams .teams-section .teams__title .copy__slogan {
        font-size: 1.3rem;
        font-style: italic;
        text-transform: none;
        padding: 0.5rem;
        z-index: 1;
        display: flex;
        margin-top: 3rem; }
        @media screen and (min-width: 400px) {
          .teams .teams-section .teams__title .copy__slogan {
            align-self: center;
            color: #bfab6c;
            position: absolute;
            width: 100%;
            margin-top: 0; }
            .teams .teams-section .teams__title .copy__slogan:before {
              position: absolute;
              top: 0;
              left: 0;
              right: 0;
              bottom: 0;
              content: ''; } }
        @media screen and (min-width: 1200px) {
          .teams .teams-section .teams__title .copy__slogan {
            margin-top: 2rem; } }
    .teams .teams-section.teams-section__united .teams__title h2 {
      text-align: right;
      background-color: #817246; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__united .teams__title h2 {
          margin-right: 0.5rem; } }
    .teams .teams-section.teams-section__united .teams__copy {
      align-self: flex-end; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__united .teams__copy {
          align-self: flex-start; } }
    @media screen and (min-width: 400px) {
      .teams .teams-section.teams-section__united .copy__slogan {
        right: 1rem;
        padding-right: 12rem;
        justify-content: flex-end; } }
    @media screen and (min-width: 1000px) {
      .teams .teams-section.teams-section__united .copy__slogan {
        padding-right: 9rem; } }
    .teams .teams-section.teams-section__united .copy__slogan:before {
      border-bottom: 3px solid #817246;
      background-color: #003950;
      z-index: -1; }
    .teams .teams-section.teams-section__falcons .teams__title {
      flex-direction: row;
      margin-top: 0; }
      .teams .teams-section.teams-section__falcons .teams__title h2 {
        background-color: #A61931; }
        @media screen and (min-width: 1000px) {
          .teams .teams-section.teams-section__falcons .teams__title h2 {
            margin-left: 0.5rem; } }
    @media screen and (min-width: 400px) {
      .teams .teams-section.teams-section__falcons .copy__slogan {
        right: 0;
        justify-content: flex-start;
        left: 1rem;
        padding-left: 12rem; } }
    @media screen and (min-width: 1000px) {
      .teams .teams-section.teams-section__falcons .copy__slogan {
        padding-left: 9rem; } }
    .teams .teams-section.teams-section__falcons .copy__slogan:before {
      border-bottom: 3px solid #817246;
      background-color: #580614;
      z-index: -1; }
      @media screen and (min-width: 1000px) {
        .teams .teams-section.teams-section__falcons .copy__slogan:before {
          transform: none; } }
    @media screen and (min-width: 1200px) {
      .teams .teams-section.teams-section__falcons .teams__copy {
        justify-content: flex-end;
        align-self: flex-end; } }
    @media screen and (min-width: 1000px) {
      .teams .teams-section.teams-section__falcons .teams__copy .copy__body {
        align-self: flex-end; } }
    @media screen and (min-width: 400px) {
      .teams .teams-section.teams-section__falcons .teams__copy .copy__body .body--text {
        align-self: flex-start; } }
    @media screen and (min-width: 1000px) {
      .teams .teams-section.teams-section__falcons .teams__copy .copy__body .body--text {
        text-align: right; } }
    .teams .teams-section.teams-section__falcons .teams__copy .copy__body .body--cta {
      background-color: #580614; }
    @media screen and (min-width: 400px) {
      .teams .teams-section.teams-section__united .teams__copy .copy__body .body--text {
        align-self: flex-end; } }
    @media screen and (min-width: 1200px) {
      .teams .teams-section.teams-section__united .teams__copy .copy__body {
        align-self: flex-start;
        padding-left: 0; } }
    .teams .teams-section.teams-section__united .teams__copy .copy__body .body--cta {
      background-color: #584401; }

#events {
  margin-bottom: 0;
  overflow: hidden; }
  #events .scrollbox {
    margin: -0.75rem; }

.section-list.section-list--events {
  flex-direction: row;
  justify-content: space-around;
  position: relative;
  flex-direction: row;
  align-items: center;
  min-width: min-content;
  overflow: hidden;
  padding: 1rem;
  padding-right: 500px; }
  @media screen and (min-width: 900px) {
    .section-list.section-list--events {
      min-width: 0;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding-right: 1rem; } }
  .section-list.section-list--events li {
    position: relative;
    margin-left: 2rem;
    transition: .5s all; }
    @media screen and (min-width: 900px) {
      .section-list.section-list--events li {
        margin-bottom: 2rem; } }
    .section-list.section-list--events li figure {
      height: 58vw;
      min-height: 186px;
      width: 47vw;
      min-width: 200px;
      max-height: 350px;
      max-width: 200px;
      background-size: auto 110%;
      background-position: top center;
      color: #FEFEFE;
      text-shadow: 0 0 2px #001622;
      text-transform: uppercase;
      font-weight: 800;
      background-image: url("../img/GraveDigger.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
      @media screen and (min-width: 1200px) {
        .section-list.section-list--events li figure {
          max-width: 250px; } }
    .section-list.section-list--events li .small-gold-bar {
      z-index: 3;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      flex-wrap: wrap;
      color: #D5D5D5;
      text-transform: capitalize; }
      .section-list.section-list--events li .small-gold-bar h2, .section-list.section-list--events li .small-gold-bar date {
        width: 100%;
        height: 100%;
        background-color: #817246;
        padding: 0.75rem; }
      .section-list.section-list--events li .small-gold-bar date {
        font-size: 0.5rem;
        padding-top: 0; }
      .section-list.section-list--events li .small-gold-bar h2 {
        font-size: 0.75rem;
        padding-bottom: 0.5rem; }
    .section-list.section-list--events li:nth-child(odd) .small-gold-bar {
      text-align: right; }
      .section-list.section-list--events li:nth-child(odd) .small-gold-bar:after {
        transform-origin: 0; }
    .section-list.section-list--events li:first-child figure {
      background-image: url("../img/stadiumwithfalcon.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--events li:nth-child(2) figure {
      background-image: url("../img/KennyChesney.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--events li:nth-child(3) figure {
      background-image: url("../img/stadiumfront.jpg");
      background-position: top left;
      background-size: auto 85%;
      background-repeat: no-repeat; }
    .section-list.section-list--events li:nth-child(5) figure {
      background-image: url("../img/ed_sheeran.jpg");
      background-position: 80% top;
      background-size: auto 80%;
      background-repeat: no-repeat; }
    .section-list.section-list--events li:nth-child(6) figure {
      background-image: url("../img/taylor-swift.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }
    .section-list.section-list--events li:nth-child(7) figure {
      background-image: url("../img/sec.jpg");
      background-position: 48% -12%;
      background-size: auto 90%;
      background-repeat: no-repeat; }
    .section-list.section-list--events li:nth-child(8) figure {
      background-image: url("../img/superbowl.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat; }

#events .events__cta {
  color: #D5D5D5;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  z-index: 4;
  height: 5rem;
  font-size: 1rem;
  padding: 1rem;
  margin-top: -2rem; }
  #events .events__cta .cta--link {
    align-self: center;
    position: relative;
    padding: 0.7rem;
    margin-top: -2rem;
    text-align: right;
    border-radius: 0.2rem;
    background-color: #A61931;
    box-shadow: 1px 1px 3px #001622; }
    #events .events__cta .cta--link div {
      height: 100%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #events .events__cta .cta--link:before {
      box-shadow: -1px -1px 3px 0px #001622;
      content: '';
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      position: absolute;
      background-color: #817246;
      height: 100vw;
      width: 100vw;
      transform: rotate(75deg) translate(-14%, 30%);
      z-index: -1;
      border: 3px solid #580614; }

footer {
  z-index: 5;
  background: #001622;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-transform: uppercase;
  color: #FEFEFE;
  padding: 10% 5%;
  position: relative; }
  footer:before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: -5px;
    left: 0;
    right: 0;
    background: #001622;
    transform: skewY(2deg);
    transform-origin: 100%;
    z-index: -1;
    border-top: 3px solid #580614; }
  @media screen and (min-width: 630px) {
    footer {
      padding: 5% 10%; } }
  footer .footer__text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    @media screen and (min-width: 630px) {
      footer .footer__text {
        flex-direction: row;
        align-items: flex-start;
        flex-wrap: flex-wrap; } }
    footer .footer__text a {
      text-decoration: none;
      font-size: 0.5rem;
      color: #FEFEFE;
      padding-bottom: 2px;
      line-height: 25px;
      transition: .4s all;
      border-bottom: 2px solid transparent; }
      footer .footer__text a:hover {
        border-bottom: 2px solid #FEFEFE; }
    footer .footer__text .mbs-logo__footer {
      background-image: url(../../assets/img/mbs-logo.svg);
      background-repeat: no-repeat;
      height: 4rem;
      width: 8rem; }
      @media screen and (min-width: 630px) {
        footer .footer__text .mbs-logo__footer {
          height: 6rem;
          width: 12rem; } }
    footer .footer__text .sitemap,
    footer .footer__text .atlanta-teams,
    footer .footer__text .social-media {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 2rem;
      letter-spacing: 1px;
      line-height: 1.5; }
      @media screen and (min-width: 630px) {
        footer .footer__text .sitemap,
        footer .footer__text .atlanta-teams,
        footer .footer__text .social-media {
          width: 25%; } }
      footer .footer__text .sitemap li,
      footer .footer__text .atlanta-teams li,
      footer .footer__text .social-media li {
        width: 100%;
        text-align: center; }
      footer .footer__text .sitemap h3,
      footer .footer__text .atlanta-teams h3,
      footer .footer__text .social-media h3 {
        z-index: 5;
        margin-bottom: 1.5rem;
        font-weight: bold; }
      footer .footer__text .sitemap span,
      footer .footer__text .atlanta-teams span,
      footer .footer__text .social-media span {
        margin-right: 2%; }
  footer .copyright {
    font-size: .6rem; }

main {
  position: relative; }

/*# sourceMappingURL=main.css.map */
